@import './variables';

.btn {
	background: none;
	border: 1px solid $grey;
	padding: 8px 16px;

	font-size: 16;
	font-weight: 500;
	cursor: pointer;

	&.btn-primary {
		border: 1px solid $primary-color;
		color: $white;

		&:active {
			background-color: $primary-color;
		}
	}

	&:hover {
		background-color: rgba($primary-color, 0.2);
	}
}

.icon:hover {
	scale: 1.1;
}