$mobile:  "only screen and (max-width : 320px)";
$mobile-landscape: "only screen and (max-width : 480px)";
$tablet: "only screen and (max-width : 768px)";
$laptop: "only screen and (max-width : 1026px)";
$desktop: "only screen and (max-width : 1440px)";

$background-primary-color: #282C33;
$background-secondary-color: #2C3036;

$primary-color: #C778DD;

$white: #FFFFFF;
$grey: #ABB2BF;

// margins 
$margin-desktop: 170px;
$margin-laptop: 10px;