@import "../../../../styles/variables";

.page-info {
	display: flex;
	flex-direction: column;
	row-gap: 14px;

	.title {
		font-size: 32px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.description {
		font-size: 16px;
	}
}

.title {
	font-size: 32px;
	font-weight: 500;
	margin-top: 70px;
	margin-bottom: 48px;
}

.projects {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 16px;

	@media #{$tablet} {
		justify-content: center;
	}
}